<ul class="alert alert-danger" *ngIf="errores?.length > 0" style="margin-bottom: 10px">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              El campo nombre es obligatorio.
            </div>
            <div *ngIf="nombre.errors.minlength">
              El campo nombre debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required="" #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && apellido.touched">
            <div *ngIf="apellido.errors.required">
              El campo apellido es obligatorio.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control"
                 [(ngModel)]="cliente.email"
                 name="email"
                 required
                 #email="ngModel"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.touched)">
            <div *ngIf="email.errors.required">
              El campo email es obligatorio.
            </div>
            <div *ngIf="email.errors?.pattern">
              Formato de email invalido.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Fecha registro</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatepicker" class="form-control" style="display: inline; width: 200px"
                 [(ngModel)]="cliente.createAt" name="createAt" required="" #createAt="ngModel">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select class="form-control" style="width: 400px"
                  [compareWith]="compararRegion"
                 [(ngModel)]="cliente.region" name="region" required="" #createAt="ngModel">
            <option [ngValue]="undefined">---- Seleccionar region ----</option>
            <option  *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button [disabled]="!clienteForm.form.valid" *ngIf="!cliente.id" class="btn btn-primary" type="submit" (click)="crear()">Crear</button>
          <button [disabled]="!clienteForm.form.valid" *ngIf="cliente.id" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br/>
<div>
  <button class="btn btn-danger" type="button" [routerLink]="['/clientes/page', page]">Volver</button>
</div>

