<form class="form-inline">         
    <button [routerLink]="['/usuarios/registro']" type="button" class="btn btn-primary my-2 my-sm-0">Registro</button>&nbsp;
    <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" id="username" placeholder="Username" autofocus required>
    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" id="password" placeholder="Password" required>
    <button (click)="login()" type="submit" class="btn btn-primary my-2 my-sm-0">Login</button>
</form>
