
<!--      <div class="form-group col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" id="username" placeholder="Username" autofocus required>
      </div>

      <div class="form-group col-sm-6">
        <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" id="password" placeholder="Password" required>
      </div>

      <div class="form-group col-sm-6">
        <input (click)="login()" type="submit" class="btn btn-lg btn-primary btn-block" value="login">
      </div>-->
      <form class="form-inline">
        <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" id="username" placeholder="Username" autofocus required>
        <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" id="password" placeholder="Password" required>
        <button (click)="login()" type="submit" class="btn btn-primary my-2 my-sm-0">Login</button>
      </form>
